<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90832050875-8vvasr1p718648mkb5cqio614ntv558s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90832050875-8vvasr1p718648mkb5cqio614ntv558s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90832050875-feo3t2i408qh82oliuhoilav6c85ldr6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYDstxYV7Afg8sFbHAsDMb7MR4zHsZ_JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>90832050875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beanvelopment.goodwillpunting</string>
	<key>PROJECT_ID</key>
	<string>good-will-punting</string>
	<key>STORAGE_BUCKET</key>
	<string>good-will-punting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90832050875:ios:48e3de6cba553fb89b279e</string>
</dict>
</plist>